body{
margin:0;
background:black;
font-family:'Russo One',sans-serif;
color:white;
}

/* BACKGROUND */
.background{
position:fixed;
width:120%;
height:120%;
top:-10%;
left:-10%;
background-size:cover;
background-position:center;
filter:brightness(.6);
transition:1s;
z-index:-2;
}

/* LOGIN */
#loginView{
position:absolute;
width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}

.loginCard{
padding:50px;
background:rgba(0,0,0,.6);
border-radius:20px;
backdrop-filter:blur(20px);
border:1px solid rgba(57,255,20,.3);
box-shadow:0 0 25px rgba(57,255,20,.15);
}

/* INPUT */
input{
display:block;
width:260px;
margin:15px;
padding:14px;
background:black;
border:1px solid #39ff14;
color:white;
border-radius:8px;
}

/* TRANSITION */
#transition{
position:fixed;
width:100%;
height:100%;
background:radial-gradient(circle, rgba(57,255,20,.5), black);
opacity:0;
pointer-events:none;
transition:1s;
z-index:999;
filter:blur(40px);
}

/* MENU */
#menuView{
position:absolute;
width:100%;
height:100%;
}

/* SHURIKENS */
.shurikenBox{
position:absolute;
width:100%;
height:100%;
overflow:hidden;
}

/* SHURIKEN PROYECTIL */
.shuriken{
position:absolute;
width:220px;
animation: throw 2.5s linear infinite;
filter:
blur(.3px)
brightness(1)
drop-shadow(0 20px 40px rgba(0,0,0,.8));
}

/* POSICIONES */
.shuriken:nth-child(1){
left:80%;
top:20%;
animation-delay:0s;
}

.shuriken:nth-child(2){
left:85%;
top:60%;
animation-delay:1.2s;
}

/* ANIMACION REALISTA */
@keyframes throw{

0%{
transform:translate(0,0) rotate(0deg) scale(1);
opacity:0;
}

20%{
opacity:1;
}

100%{
transform:translate(-500px,-250px) rotate(720deg) scale(.7);
opacity:0;
}

}

/* ABOUT */
.card{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:rgba(0,0,0,.7);
padding:50px;
border-radius:20px;
border:1px solid rgba(57,255,20,.3);
}

/* POSTS */
#postsView{
position:absolute;
width:100%;
height:100%;
overflow-y:auto;
padding-top:120px;
}

.grid{
display:flex;
gap:40px;
justify-content:center;
flex-wrap:wrap;
}

.post{
width:260px;
background:rgba(0,0,0,.6);
padding:15px;
border-radius:15px;
border:1px solid rgba(57,255,20,.3);
transition:.4s;
}

.post:hover{
transform:translateY(-10px) scale(1.05);
box-shadow:0 0 30px #39ff14;
}

.post img{
width:100%;
border-radius:10px;
}

.post p{
color:#9dffb3;
}

/* BUTTON */
button{
padding:14px 45px;
background:transparent;
border:1px solid #39ff14;
color:#39ff14;
font-family:'Russo One';
cursor:pointer;
border-radius:10px;
margin-top:30px;
}

/* UTIL */
.hidden{
opacity:0;
pointer-events:none;
visibility:hidden;
}

/* SHAKE */
@keyframes shake{
25%{transform:translateX(-5px);}
75%{transform:translateX(5px);}
}

.shake{
animation:shake .4s;
}
